@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<WebUIOne.Models.LineItemVM>

<h1>List Of LineItems</h1>
<br />

<table>
    <tr>
        <th>Product Name</th>
        <th>Product ID</th>
        <th>LineItem ID</th>
        <th>LineItem Quantity</th>
        <th>StoreFront ID</th>
        <th>Add To Cart</th>
    </tr>
    @foreach (LineItemVM item in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
    <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
    <td>@Html.DisplayFor(modelItem => item.LineItemId)</td>
    <td>@Html.DisplayFor(modelItem => item.LineItemQuantity)</td>
    <td>@Html.DisplayFor(modelItem => item.StoreFrontId)</td>
    <td><button>@Html.ActionLink("Add To Cart", "Cart", "PlaceOrder", new { p_lineItemId = item.LineItemId }, new { @style = "color: green" }) </button></td>
    <td><button>@Html.ActionLink("Update Inventory", "Delete", "ReplenishInventory", new { id = item.LineItemId }, new { @style = "color: red" }) </button></td>
</tr>
    }
</table>

<br />
<br />



@*<form>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="ProductName" class="form-label">Product Name</label>
        <input asp-for="ProductName" type="text" class="form-control">
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LineItemQuantity" class="form-label">Customer Name</label>
        <input asp-for="LineItemQuantity" type="text" class="form-control">
        <span asp-validation-for="LineItemQuantity" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" value="Index">Add To Order</button>
</form>*@


    