@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<WebUIOne.Models.LineItemVM>

<h1>List Of LineItems</h1>
<br />

<table>
    <tr>
        <th>Product Name</th>
        <th>Product ID</th>
        <th>LineItem ID</th>
        <th>LineItem Quantity</th>
        <th>StoreFront ID</th>
        <th>Add To Cart</th>
    </tr>
    @foreach (LineItemVM item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
        <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
        <td>@Html.DisplayFor(modelItem => item.LineItemId)</td>
        <td>@Html.DisplayFor(modelItem => item.LineItemQuantity)</td>
        <td>@Html.DisplayFor(modelItem => item.StoreFrontId)</td>
        <td><button>>@Html.ActionLink("Add To Cart", "Create", "PlaceOrder", new { p_lineItemId = item.LineItemId }, new { @style = "color: white" })</button></td>
    </tr>
    }
</table>

<br />
<br />
<a class="btn btn-primary text-white" asp-controller="LineItem" asp-action="Index">Just A Test</a>
